.page-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: var(--gap-large);
}

.full-width {
  width: 100%;
}
/**
 *  HEADER 
 */
.page-component__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px 0 40px;
}

.page-component__header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color:#F3F0EA;
}

.page-component__header__logo__text {
  margin-left: 16px;
}

.page-component__header__logo__title {
  margin-top: 5px;
  font-weight: 500;
  font-size: x-large;
}
.page-component__header__logo__slogan {
  font-weight: 500;
  font-size: large;
  opacity: 50%;
}
.page-component__header__logo__img {
  height: 56px;
  width: 56px;
}
.page-component__header__userinfo {
  display: flex;
  gap: var(--gap-medium);
}

.page-component__header__network-btn {
  padding: var(--padding-medium) var(--padding-large);
  border-radius: var(--border-radius-medium);
  min-width: 140px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.page-component__header__network-btn:hover {
  cursor: pointer;
  background-color: var(--color-dark);
}

.page-component__header__connect-btn {
  padding: var(--padding-medium) var(--padding-large);
  border-radius: var(--border-radius-medium);
  border: solid 2px #faeeac;
  min-width: 240px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.page-component__header__connect-btn:hover {
  cursor: pointer;
  background-color: var(--color-orange);
}

.page-component__prewallet {
  color:white;
  margin: auto;
  text-align: center;
}

/**
 *  MODAL
 */
.page-component__main {
  background: #f3f0ea;
  border-radius: 100px 100px 0px 0px;
  margin-top: 10rem;
  padding: 3rem 0px;
  min-height: 100vh;
}

.page-component__main__container {
  margin: auto;
  width: min(95%, 60rem);
}
.page-component__main__action-modal {
  margin: auto;
  display: flex;
  justify-content: center;
}

.page-component__main__form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  border-radius: var(--border-radius-medium);
  padding: 4rem 0px;
}

.page-component__main__action-modal-display {
  display: flex;
  height: 42px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #45433c;
  font-size: large;
  background: #e4e2dc;
  border-radius: 8px;
  background: rgba(128, 125, 118, 0.12);
}

.page-component__main__action-modal-display__item {
  display: flex;
  padding: 11px 9px 11px 8px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border: 0.5px solid #e4e2dc;
  width: 100%;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.page-component__main__action-modal-display__item__action {
  display: flex;
  padding: 11px 9px 11px 8px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 7px;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  background: var(--system-background-light-primary, #fff);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
}

.page-component__main__action-modal-switch {
  display: flex;
  height: 30px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #45433c;
  font-size: medium;
  background: #e4e2dc;
  border-radius: 8px;
  background: rgba(128, 125, 118, 0.12);
}

.page-component__main__action-modal-switch__asset {
  display: flex;
  padding: 11px 9px 11px 8px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border: 0.5px solid #e4e2dc;
  width: 100%;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.page-component__main__action-modal-switch__asset__action {
  display: flex;
  padding: 11px 9px 11px 8px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 7px;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  background: var(--system-background-light-primary, #fff);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
}

.page-component__main__actions {
  max-width: 45px;
  margin-right: 15px;
  overflow: visible;
  color: black;
  display: flex;
  justify-content: flex-end;
}

.page-component__main__actions-bal {
  color: var(--color-dark);
  transition: color 0.3s;
}

.page-component__main__input {
  height: 75px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 0 var(--padding-medium);
  width: 100%;
  border-radius: 16px;
  border: 1px solid #DDDAD0;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(40, 33, 16, 0.05);
}

.page-component__main__input__receiver{
  height: 75px;
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #DDDAD0;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(40, 33, 16, 0.05);
}

.page-component__main__input__receiver_inputBox{
  margin:auto;
  padding:0px var(--padding-medium);
}

.page-component__main__input__receiver__btn {
  color: #7A776D;
  box-sizing: border-box;
  padding: var(--padding-large);
  font-size: larger;
  font-weight: 600;
  min-width: 100px;
}

.page-component__main__input__receiver__btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.page-component__main__asset {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.page-component__main__asset__img {
  height: 45px;
  width: 45px;
  margin-right: 15px;
}

.page-component__main__input__max-btn {
  background-color: var(--color-orange);
  border: 0px;
  color: var(--cygwhite);
  box-sizing: border-box;
  padding: var(--padding-large);
  font-size: 18px;
  height: 30%;
  min-width: 100px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-medium);
  transition: background-color 0.3s;
  justify-content: center;
}

.page-component__main__input__max-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.page-component__main__input__action-btn {
  border-radius: 6px;
  background: #FFC549;
  box-sizing: border-box;
  padding: var(--padding-large);
  font-size: x-large;
  font-weight:600;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-medium);
  transition: background-color 0.3s;
  justify-content: center;
  width: 100%;
}

.page-component__main__input__action-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.page-component__main__input__action-tx {
  margin: auto;
  display: flex;
  background-color: #333;
  border: 0px;
  color: var(--cygwhite);
  box-sizing: border-box;
  padding: var(--padding-medium);
  font-size: 18px;
  margin-top: 1.5rem;
  text-decoration: none;
  align-items: end;
  border-radius: var(--border-radius-medium);
  justify-content: center;
  width: 100%;
}

.page-component__main__input__btns {
  display: flex;
  gap: var(--gap-medium);
}

/**
 *  CARDS DATA
 */
.page-component__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: -7rem;
  gap: 15px;
}

.page-component__cards > * {
  flex: 1;
}

.page-component__cards-data {
  background-color: #202520;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  text-align: center;
  box-sizing: border-box;
  border-radius: 2rem;
  padding: 1rem 2rem;
  color: #ede0cb;
}

.page-component__cards-data__title {
  font-size: x-large;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: start;
  padding: var(--padding-small);
  overflow: hidden;
  border-top-left-radius: var(--border-radius-medium);
  border-top-right-radius: var(--border-radius-medium);
}

.page-component__cards-data__number {
  color: white;
}

.page-component__cards-data__row {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  font-size: xx-large;
}

.page-component__cards-data__body {
  padding: var(--padding-small);
}

.page-component__paragraph {
  margin-top: 4rem;
  color: #45433c;
  font-size: large;
  text-align: center;
}
/**
 *  CONTRACT DATA
 */
.page-component__contract {
  margin: auto;
  display: flex;
  justify-content: center;
}

.page-component__contract-data {
  background-color: var(--color-dark);
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  border-radius: var(--border-radius-medium);
}

.page-component__contract-data__title {
  padding: var(--padding-medium);
  background-color: var(--color-light-pink);
  overflow: hidden;
  border-top-left-radius: var(--border-radius-medium);
  border-top-right-radius: var(--border-radius-medium);
}

.page-component__contract-data__row {
  padding: var(--padding-small) var(--padding-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-component__contract-data__body {
  padding: var(--padding-small);
}

.page-component__main__tooltip:hover {
  cursor: pointer;
}

/**
 *  MOBILE
 */
@media only screen and (max-width: 1200px) {
  .page-component__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 16px;
  }

  .page-component__header__userinfo {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap-medium);
  }
}
